.home-page {
  .container-showcase {
    background: linear-gradient(to top, #008080 10%, #00808050 100%),
      url("./assets/showcase-bg.jpg");
    height: 80vh;
    color: white;
    .showcase {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70%;
      gap: 20px;
      h2 {
        font-size: 50px;
        font-family: "Dongle";
      }
      h1 {
        font-size: 70px;
        line-height: 10px;
        font-family: "Noto Sans SC";
      }
      .btn {
        background: #008080;
        margin-top: 40px;
        font-size: 30px;
        border: 3px solid white;
        padding: 0 10px;
        border-radius: 4px;
      }
    }
  }
  .container-centers {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .title {
      font-family: "Noto Sans SC";
      font-size: 50px;
      margin: 10px 0;
    }
    .centers {
      width: 90%;
      margin: 0 auto;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      .center {
        border-radius: 10px;
        box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.354);
        .info {
          text-align: center;
          font-family: "Nunito";
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding: 10px;
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 20px;
            border-bottom: 2px solid white;
            width: 40%;
            margin: 0 auto;
          }
          .about-btn {
            background: #008080;
            font-size: 25px;
            text-transform: uppercase;
            padding: 0 10px;
            border-radius: 4px;
            color: white;
          }
        }
      }
    }
    .more-btn {
      font-size: 20px;
      border: 2px solid #008080;
      padding: 0 10px;
      border-radius: 4px;
      color: #008080;
    }
  }

  .container-courses {
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .title {
      font-size: 50px;
      font-family: "Noto Sans SC";
    }
    .courses {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      .course {
        width: 700px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.434);
        font-size: 70px;
        font-family: "Dongle";
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover{
          color: #008080;
          background: #000;
        }
        .bg{
          font-size: 100px;
        }
        
      }
    }
    .more-btn {
      font-size: 20px;
      border: 2px solid #008080;
      padding: 0 10px;
      border-radius: 4px;
      color: #008080;
    }
  }
  .container-search{
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #008080;
    padding: 30px;
    .title{
      font-size: 30px;
      font-family: 'Noto Sans SC';
      text-align: center;
      
    }
    .input{
      display: flex;
      flex-direction: row;
      border: 2px solid #008080;
      // padding: 5px 10px;
      font-size: 30px;
      input{
        outline: none;
        padding: 4px;
      }
      .search-btn{
        background: #008080;
        padding: 10px;
        color: white;

      }
    }
  }
}

