.container-lc {
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  flex-direction: row;
  .catalog-lc {
    // background: #000;
    width: 80%;
    border-radius: 10px;
    .title {
    //   background: #000;
      font-size: 70px;
      text-align: center;
      font-family: 'Dongle';
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      .pagination{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .centers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 20px;
        .center{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-align: center;
            font-family: 'Noto Sans SC';
            font-size: 20px;
        }
    }
  }
  .filter {
    width: 20%;
    border-radius: 10px;
    
  }
}
